* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: #333;
}

a,
a:visited {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.app {
  width: 1000px;
  position: relative;
  min-height: 500px;
  margin: 30px auto;
  padding: 32px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ddd;
}

.controls {
  width: 436px;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: right;
}

.controls a {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  color: #333;
}

.controls a:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.controls a.active {
  background: #4e8af8;
  border-color: #3176f7;
  color: #f5f5f5;
}

.controls a.active:hover {
  background: #2d70ec;
}

.controls a:first-child {
  margin-right: 6px;
}

ul {
  list-style: none;
}

ul:after {
  display: table;
  content: '';
  clear: both;
}

ul li {
  margin-bottom: 8px;
  border: 1px solid #ddd;
  padding: 12px 16px;
  background: #fff;
  font-weight: bold;
  text-align: left;
  border-radius: 3px;
}


/*-------------------------
    List layout
--------------------------*/

ul.list {
  list-style: none;
  width: 436px;
  margin: 0 auto;
  text-align: left;
}

ul.list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}

ul.list li img {
  width: 120px;
  height: 120px;
  float: left;
  border: none;
}

ul.list li p {
  margin-left: 135px;
  font-weight: bold;
  color: #6e7a7f;
}


/*-------------------------
  Grid layout
--------------------------*/

ul.grid {
  list-style: none;
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

ul.grid li {
  padding: 2px;
  float: left;
}

ul.grid li:nth-child(odd) {
  margin-right: 8px;
}

ul.grid li img {
  width: 208px;
  height: 208px;
  object-fit: cover;
  display: block;
  border: none;
}